.game-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.player-container,
.computer-container {
    margin: 10px 30px;
    padding: 25px;
    max-width: 850px;
    background: plum;
    border: 1px solid darkmagenta;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

button > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}